# Python #
#############

# Pycharm Cache
.idea/*
ml/__pycache__/

# R files
.Rhistory

# Jupyter Notebooks
notebooks/Data Exploration an Training .ipynb
notebooks/
util/__pycache__/

# Personal Notes
Github Rules.md

# Pytest Cache
.pytest_cache

