<html>
  <head>
  <script type="text/javascript" src="validate.js"></script>
  </head>
  <body>
  <form action="#" name="Predict Your Survival Odds" onSubmit="return(validate());">
<table cellpadding="2" width="50%" bgcolor="99FFFF" align="center" cellspacing="10">
<tr>
  <td colspan=10>
  <center><font size=4><b>Predict Your Survival Odds</b></font></center>
  </td>
  </tr>
    <tr>
        <td>PassengerId</td>
        <td><input type=text name=textnames id="textname" size="30"></td>
    </tr>

    <tr>
        <td>PClass</td>
        <td><select name="City">
        <option value="-1" selected>select..</option>
        <option value=1>Upper</option>
        <option value=2>Middle</option>
        <option value=3>Lower</option>
        </select></td>
    </tr>

    <tr>
        <td>Name</td>
        <td><input type="text" name="name" id="name" size="30"></td>
    </tr>

  <tr>
  <td>Sex</td>
      <td><input type="radio" name="sex" value="male" size="10">Male
      <input type="radio" name="sex" value="Female" size="10">Female</td>
  </tr>

  <tr>
      <td>Age</td>
      <td><input type="number" name="age" id="age" size="30"></td>
  </tr>

  <tr>
      <td>SibSp</td>
      <td><input type="number" name="SibSp" id="age" size="30"></td>
  </tr>

  <tr>
      <td>Parch</td>
      <td><input type="number" name="parch" id="parch" size="30"></td>
  </tr>

  <tr>
      <td>Ticket</td>
      <td><input type="number" name="parch" id="parch" size="30"></td>
  </tr>

  <tr>
      <td>Age</td>
      <td><input type="number" name="age" id="age" size="30"></td>
  </tr>

  <tr>
      <td><input type="reset"></td>
      <td colspan="2"><input type="submit" value="Submit" /></td>
  </tr>

  </table>
  </form>
  </body>
  </html>